<div fxLayout = "column">

    <md-card fxFlexAlign="center">
        <md-card-header>
            <md-card-title><h1>This is the About Page</h1></md-card-title>
            <md-card-subtitle><h2> Aboutttttt </h2></md-card-subtitle>
        </md-card-header>

        <img md-card-image src="http://lorempixel.com/1000/200" />

        <md-card-content>
            <p><strong>Dolore tofu voluptate  tbh biodiesel.
            Crucifix kombucha pabst, cillum
            gluten-free heirloom dolore delectus 
            salvia chambray knausgaard VHS jianbing.</strong></p> </md-card-content>
        <md-card-actions>
        <a md-raised-button href="About#github">Github</a>
            <a md-raised-button href="About#facebook">Facebook</a>
            <a md-raised-button href="About#twitter">Twitter</a>
            <a md-raised-button href="About#linkedin">Linkedin</a>
        </md-card-actions>
    </md-card>
</div>

