<md-card fxFlex="50%">
  <md-card-header>
    <md-card-title>
      <h1>{{avatar.name}}</h1>
    </md-card-title>
    <md-card-subtitle>{{avatar.type}}</md-card-subtitle>
  </md-card-header>

  <md-card-content fxLayout="column">

    <div>
      <h2>Inventory</h2>
      <md-grid-list cols="3">
        <md-grid-tile *ngFor="let item of avatar.inventory">
          <span mdTooltip={{item.description}} mdTooltipPosition="above">

          <img class="invImg" src="../../assets/img/skills/{{item.img}}" fxFlex fxFlexFill>
              </span>
        </md-grid-tile>

      </md-grid-list>
    </div>


    <div>
      <h2>Skills</h2>
      <md-list>
        <md-list-item *ngFor="let skill of avatar.skills">
          <img md-list-avatar src="../../assets/img/skills/{{skill.image}}">
          <label md-line>{{skill.name}}</label>
          <md-progress-spinner [mode]="determinate" [value]="avatar.proficencies[skill.id]" color="primary"></md-progress-spinner>
        </md-list-item>
      </md-list>

    </div>
  </md-card-content>
</md-card>