<h1>This is the Blog Page</h1>
<div *ngFor="let post of posts">
    <md-card>
        <md-card-title><h4>{{post.title}}</h4></md-card-title>
        <md-card-subtitle><span>{{post.author}}</span></md-card-subtitle>
        <md-card-content>
            <p>{{post.description}}</p>
            <p>{{post.content}}</p>
        </md-card-content>
        <md-card-actions>
            <button md-button>Like</button>
            <button md-button>Comment</button>
        </md-card-actions>
    </md-card>
    <br>
</div>