<h1 align="center"> Create your Wizard! </h1>

<div fxLayout.xs="column" fxLayout.sm="row" fxLayoutAlign="space-around">
    <md-card>
        <md-card-header>
            <md-card-title>
                <h2>Skills</h2>
            </md-card-title>
        </md-card-header>
        <md-card-content>
            <md-list>

                <md-list-item fxLayout="column" fxLayoutAlign="space-between"*ngFor="let skill of avatar.skills">
                    <img md-list-avatar src="../../assets/img/skills/{{skill.image}}">
                    <label md-line>{{skill.name}}</label>
                    <md-progress-spinner [mode]="determinate" [value]="avatar.proficencies[skill.id]" color="primary"></md-progress-spinner>
                    <button class="removeButton" md-mini-fab color="warn" (click)="removeSkill(skill)"><md-icon>delete</md-icon></button>

                </md-list-item>
            </md-list>

        </md-card-content>

        <md-card-actions>

            <md-select placeholder="Skill" name="skill" [(ngModel)]="selectedSkill">
                <md-option *ngFor="let skill of skills" [value]="skill">
                    {{skill.name}}
                </md-option>
            </md-select>

            <h4>Proficiency</h4>
            <md-slider [(ngModel)]="currentProficiency"></md-slider>

            <button color="primary" md-raised-button (click)="addSkill()">Add Skill</button>

        </md-card-actions>
    </md-card>

    <md-card>
        <md-card-title>
            <h3>Details</h3>
        </md-card-title>
        <md-card-content>
            <md-input-container>
                <input mdInput placeholder="Name" [(ngModel)]="avatar.name">
            </md-input-container>
            <md-radio-group name="types" [(ngModel)]="avatar.type">
                <md-radio-button value="Back-end">Back-end</md-radio-button>
                <md-radio-button value="Front-end">Front-end</md-radio-button>
                <md-radio-button value="Full-stack">Full-Stack</md-radio-button>
            </md-radio-group>
            <h4 *ngIf="avatar.name && avatar.type">
                You're a {{avatar.type}} Wizard, {{avatar.name}}!
            </h4>
        </md-card-content>
        <md-card-actions>
        </md-card-actions>
    </md-card>

    <md-card fxLayout="column" fxLayoutAlign="space-around">
        <md-card-header>
            <md-card-title>
                <h2>Inventory</h2>
            </md-card-title>
            <md-card-subtitle>${{avatar.money}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
            <md-grid-list cols="3">
                <md-grid-tile *ngFor="let item of avatar.inventory">
                    <span mdTooltip={{item.description}} mdTooltipPosition="above">
                    <img src="../../assets/img/skills/{{item.img}}" fxFlexFill>
                    </span>
                    </md-grid-tile>
            </md-grid-list>
        </md-card-content>
        <md-card-actions fxFlexAlign="center">
            <shop [avatar]="avatar"></shop>
        </md-card-actions>
    </md-card>


</div>

<div fxLayout="row" fxLayoutAlign="space-around">
    <button id="createButton" md-raised-button color="primary" (click)="addAvatar()">Create</button>
</div>